@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

svg,
path,
rect {
  shape-rendering: crispEdges !important;
  image-rendering: crisp-edges !important;
}

* {
  box-sizing: border-box;
}
